body {
  background: #232323;
}

#navbar {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-template-rows: auto auto; 
  gap: 20px 0px; 
  grid-template-areas: 
    "Tstart Tend type button"
    "tab tab tab tab";  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
}

.Tstart {
  grid-area: Tstart;
}

.Tend {
  grid-area: Tend;
}

.type {
  grid-area: type;
}

.button {
  justify-self: center; 
  align-self: center; 
  grid-area: button;
}

.tab {
  grid-area: tab;
}

table {
    width: 100%;
    border: 1px solid #ffffff;
 }
 th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid #ffffff;
    border-collapse: collapse;
    padding: 0.3em;
    font-size: 18px;
 }