body {
  background: #232323;
}

#navbar {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

@media only screen and (min-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 100%;
    gap: 20px 0px;
    grid-template-areas:
      "Tstart Tend type button"
      "tab tab tab tab";
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
  }

  .Tstart {
    grid-area: Tstart;
  }

  .Tend {
    grid-area: Tend;
  }

  .type {
    grid-area: type;
  }

  .button {
    justify-self: center;
    align-self: center;
    grid-area: button;
  }

  .table {
    grid-area: tab;
  }
}

.table label {
  color: #ffffff;
}
.dataTables_info {
  color: #ffffff;
}
table {
  width: 100%;
  background: #ffffff;
  border: 1px solid #ffffff;
}

th,
td {
  width: 25%;
  text-align: left;
  vertical-align: top;
  border-collapse: collapse;
  padding: 0.3em;
  font-size: 18px;
}
