body {
  background: #232323;
}

#navbar {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.ref{

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center; 
  text-align: center;

  color: #ffffff;
}
